<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/download.css">
    <title>Document</title>
</head>
<body>
    <h1> 링크가 완성되었습니다! </h1>
    <div id="main">
        <div id="buttons">
            <button id="clickMe"> 링크 복사 </button><br>
            <button id="mailer"> 이메일로 링크 보내기 </button>
        </div>
        <form action="/mailing" method="POST" name="mailing">
        <div id="mail_div">
            <label for="requester" id="requestLabel">보내는 사람 : </label>
            <input type="email" name="requester" id="requester" class="requester" placeholder="이메일 주소">
            <br>
            <label for="recepient" id="recepientLabel">받는 사람 : </label>
            <input type="email" name="recepient" id="recepient" class="recepient" placeholder="이메일 주소"> 
            <br>
            <textarea placeholder="메모를 첨부해 보세요" name="memo" id="memo"></textarea>
            <button id="sender" onclick="valiChecker()"> send</button>
        </div>
        <div id="result_area">
            <textarea id="result" name="result"></textarea>
        </div>
        </form>
    </div>
</body>
<script>
    const clickMe = document.getElementById('clickMe');
    const mailer = document.getElementById('mailer');
    const mail_div = document.getElementById('mail_div');
    const result = document.getElementById('result');
    const memo = document.getElementById('memo');

    const recepient = document.getElementById('receipent');
    const requester = document.getElementById('requester');
    const sender=document.getElementById('sender');

    result.style.display='none';
    mail_div.style.display='none';

    let status = false;


    clickMe.addEventListener('click',(e)=>{
        result.innerHTML='<%=file%>'
        result.style.display='block'
        result.select();
        result.setSelectionRange(0, 99999);
        document.execCommand('copy');
        alert('복사가 되었습니다! 붙여넣기 해보세요!');
    })


    mailer.addEventListener('click',(e)=>{
        result.innerHTML='<%=file%>'
        result.style.display='block'
        result.style.display='none';
        result.select();
        result.setSelectionRange(0, 99999);
        document.execCommand('copy');
        mail_div.style.display='block';
    })

</script>
</html>