<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/download.css">
    <title>Document</title>
</head>
<body>
    <h1> リンクが出ました！ <br> リンクは1時間のみ有効です。 </h1>
    <div id="main">
        <div id="buttons">
            <button id="clickMe"> リンクコピー </button><br>
            <button id="mailer"> メールでリンクを送る </button>
        </div>
        <form action="/mailing" method="POST" name="mailing">
        <div id="mail_div">
            <label for="requester" id="requestLabel">送信者 : </label>
            <input type="email" name="requester" id="requester" class="requester" placeholder="本人のメールアドレスを書いてください。" required>
            <br>
            <label for="recepient" id="recepientLabel">受信者 : </label>
            <input type="email" name="recepient" id="recepient" class="recepient" placeholder="受信者のメールアドレスを書いてください" required> 
            <br>
            <textarea placeholder="メモを書いてください。" name="memo" id="memo"></textarea>
            <button id="sender"> 送る</button>
        </div>
        <div id="result_area">
            <span id="result" name="result"></span>
            <textarea id="result_text"></textarea>
        </div>
        </form>
    </div>
</body>
<script>
    const clickMe = document.getElementById('clickMe');
    const mailer = document.getElementById('mailer');
    const mail_div = document.getElementById('mail_div');
    const result = document.getElementById('result');
    const result_text=document.getElementById("result_text");
    const memo = document.getElementById('memo');

    result.style.display='none';
    result_text.style.display="none";
    mail_div.style.display='none';

    clickMe.addEventListener('click',(e)=>{
        if(result.style.display=="block" || mail_div.style.display=='block'){
            result.style.display="none";
            result_text.style.display="none";
        }else{
            result.innerHTML='<a href="<%=fileView%>"><%=fileView%></a>'
            result_text.innerHTML='<%=fileView%>'
            result.style.display='block'
            result_text.style.display='block'
            result_text.select();
            result_text.setSelectionRange(0, 99999);
            document.execCommand('copy');
            result_text.style.display="none";
            //result.style.display="none"
            alert('リンクコピー完了！ リンクを使用してファイルを共有しましょう！ 3秒後ホームに帰ります。');
            setTimeout(()=>{
                location.href="/";
            },3000);

        }

    })


    mailer.addEventListener('click',(e)=>{
        if(mail_div.style.display=='block' || result.style.display=='block'){
            mail_div.style.display="none";
        }else{
            result_text.innerHTML='<%=file%>'
            result_text.style.display='block'
            result_text.style.display='none';
            result_text.select();
            result_text.setSelectionRange(0, 99999);
            document.execCommand('copy');
            mail_div.style.display="block";
        }
    })

</script>
</html>