<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Document</title>
</head>
<body>
    <h1> 공유하고 싶은 파일을 업로드 해주세요</h1>
    <div id='main'>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name='myfile' id="file" class="inputfile">
        <label for="file" id="fileLabel"> Choose a file </label>
    </div>

    <div id='btm'>
        <button id='btn'>Upload</button>
    </div>
</form>

</body>
<script>

    document.getElementById('file').onchange=()=>{
        const filename=document.getElementById('fileLabel');
        filename.innerHTML=file.value.replace(/^.*[\\\/]/, '');
    }
</script>
</html>
