<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <p> Welcome, <%=nickname%></p>
      <form action="logout" method="get">
        <button type="submit">로그아웃</button>
      </form>
  </body>
</html>
