<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form action="sign-up" method="POST">
        <p> 회원 가입</p>
        <p> 이메일 : <input name="email"></p>
        <p> 닉네임 : <input name="nickname"></p>
        <p> 패스워드 : <input name="password"></p>
        <input type="submit" value="submit">
      </form>
  </body>
</html>
