@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: 'Bebas Neue', cursive;
}
h1{
    position: absolute;
    left: 50%;
    top:30%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    
}

textarea{
    resize: none;
}

#main{
    position:absolute;
    top:50%;
    left: 50%;
    width:300px;
    height: 160px;
    margin-left: -150px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#buttons{
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#clickMe,#mailer{
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    width: 300px;
    height: 50px;
    outline: none;
    text-align: center;
    margin-bottom: 8px;
}

#clickMe:hover,#mailer:hover{
    color: #fff;
    background-color: #1A1A1A;
    transform: translateY(-2px);
}

#clickMe:active,#mailer:active{
    box-shadow: none;
  transform: translateY(0);
}

#result_area{
    position:absolute;
    top:50%;
    left: 50%;
    width:300px;
    height: 160px;
    margin-left: -150px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mail_div{
    position:absolute;
    top:50%;
    left: 50%;
    width:300px;
    height: 260px;
    margin-left: -150px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:25px;
    z-index: 2000;
}

#memo{
    width: 300px;
    height: 100px;
}

#result{
    width:300px;
    height:50px;
}

.requester,.recepient{
    padding-top: 5px;
    margin-bottom: 12px;
    width:300px;
}
