@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: 'Bebas Neue', cursive;
}
h1{

    position: absolute;
    left: 50%;
    top:30%;
    transform: translate(-50%,-50%);
}

#main{
    position:absolute;
    top:50%;
    left: 50%;
    width:300px;
    height: 160px;
    margin-left: -150px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btm{
    position:absolute;
    top:50%;
    left: 50%;
    width:300px;
    height: 30px;
    margin-left: -150px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile+label{
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    color: #3B3B3B;
    display: inline-block;
    margin: 0;
    width: 300px;
    height: 150;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    -webkit-user-select: none;

}

.inputfile+label:disabled {
  pointer-events: none;
}

.inputfile+label:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.inputfile+label:active {
  box-shadow: none;
  transform: translateY(0);
}

